<mat-card>
    <form class="example-form">
      <mat-form-field class="example-full-width">
          <input [(ngModel)] = "email" name = "email" matInput placeholder="Email">
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
          <input [(ngModel)] = "password" name = "password" matInput placeholder="Password">
      </mat-form-field>
      <br>
      <button mat-stroked-button (click)="login()">
          Log In
      </button>
    </form>
  </mat-card>