<mat-card>
  <button (click) = "toBooks()">
      Books
  </button>
  <button (click) = "toRegister()">
    Register
  </button>
  <button (click) = "toLogin()" *ngIf="!(authService.user | async)">
    Login
  </button>
  <button (click) = "logOut()" *ngIf="authService.user | async">
    Log Out
  </button>
</mat-card>