<mat-card>
  <div *ngIf="!(authService.user | async)">
    <a routerLink = "/register">Register</a> or <a routerLink = "/login">login</a> to manage your reading list.
  </div>
  <div *ngIf="authService.user | async">
    <h1>Welcome {{nickname}}!</h1>
  </div>
</mat-card>
<mat-card>
    <form class="example-form">
      <mat-form-field class="example-full-width">
          <input [(ngModel)] = "name" name = "name" matInput placeholder="Book Name">
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
          <input [(ngModel)] = "author" name = "author" matInput placeholder="Author">
      </mat-form-field>
      <br>
      <button mat-raised-button (click)="addBook()">
          Add Book
      </button>
    </form>
  </mat-card>
