<mat-card>
  <form class="example-form">
    <mat-form-field class="example-full-width">
        <input [(ngModel)] = "name" name = "name" matInput placeholder="Name">
    </mat-form-field>
    <div class = "error" *ngIf = "name==null">
        {{required}}
    </div>
    <br>
    <mat-form-field class="example-full-width">
        <input [(ngModel)] = "nickname" name = "nickname" matInput placeholder="Nickname">
    </mat-form-field>
    <div class = "error" *ngIf = "nickname==null">
        {{required}}
    </div>
    <br>
    <mat-form-field class="example-full-width">
        <input [(ngModel)] = "email" name = "email" matInput placeholder="Email">
    </mat-form-field>
    <div class = "error" *ngIf = "email==null">
        {{required}}
    </div>
    <br>
    <mat-form-field class="example-full-width">
        <input [(ngModel)] = "password" name = "password" matInput placeholder="Password">
    </mat-form-field>
    <div class = "error" *ngIf = "password==null">
        {{required}}
    </div>
    <div class = "error">
        {{passmessage}}
    </div>
    <br>
    <mat-form-field class="example-full-width">
        <input [(ngModel)] = "repassword" name = "repassword" matInput placeholder="repassword">
    </mat-form-field>
    <div class = "error" *ngIf = "repassword==null">
        {{required}}
    </div>
    <br>
    <button mat-stroked-button (click)="register()">
        Register
    </button>
  </form>
</mat-card>